/* Add CSS here */
:root {
  --card-item-border: 5px;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0;
  padding: 1rem;
}

main {
  max-width: 10000px;
  margin: 0;
}

article {
  margin: 0;
}

.brand-kit-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  font-family: Arial, Roboto, Helvetica, sans-serif;
  font-size: 80%;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-content: flex-start; */
  /* padding: 1rem; */
}

.brand-kit-card {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  height: 180px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 15px;
  /* margin: 1rem; */
}

.brand-kit-head {
  height: 70%;
  background-color: lightgray;
  border-radius: var(--card-item-border);
  position: relative;
  overflow: hidden;
}

.color-pallete {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: aqua;
  border-bottom-left-radius: var(--card-item-border);
  border-bottom-right-radius: var(--card-item-border);
  display: flex;
}

.color-pallete div {
  flex: 1;
  width: auto;
  height: 100%;
  background-color: var(--pallete-color);
}

.brand-kit-head .image-container {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-kit-head img {
  /* object-fit: contain; */
  object-fit: cover;
  height: 75%;
  max-width: 100%;
}